<h3 class="center">User Info</h3>
<div class="center">
    <ul>
        <li>
            {{name}}
        </li>
        <li>
            {{emailAddress}}
        </li>
        <li>Copy the id_token in the text box below to access protected resources.<br> 
            All created resources will use your LAST NAME as shown above.</li>
        <li>Now switch to Postman to begin using the application.</li>
    </ul>
</div>
<div class="center">
    <h4>Id Token</h4>
    <textarea style="width:600px; word-wrap:break-word;">
        {{id_token}}
    </textarea>
</div>